@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Inconsolata|Press+Start+2P&display=swap');

h1 {
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url(assets/nightSky.jpg); */
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding-left: 23px;
}

a.nav {
    font-family: 'Inconsolata', monospace;
    display: block;
    color: #72ffcb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: initial;
}

a:hover {
    color:#508f78
}

.nav {
    display: block;
    border: 1px solid white;
    padding: 8px;
}

p {
    color: white;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
}

.center {
    color: white;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

@keyframes asteriodAnimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateY(12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.asteriodGreen {
    /* animation: asteriodAnimation 4s linear infinite;
    position: absolute;
    opacity: 0.4;
    left: 10%;
    top: 15%;
    z-index: -1;
    width: 50vw; */
    position: relative;
    top: -600px;
    left: -350px;
    
  
}

.asteriodPink {
    /* animation: asteriodAnimation 4s linear infinite; 
    position: absolute;
    opacity: 0.4;
    left: 50%;
    top: 15%;
    z-index: -1;
    width: 50vw; */
    position: relative;
    bottom: 600px;
    left: -350px;
}

.asteriodBlue {
    /* animation: asteriodAnimation 4s linear infinite;
    position: absolute;
    opacity: 0.4;
    left: 30%;
    top: 60%;
    z-index: -1;
    width: 50vw; */
    position: relative;
    bottom: 1375px;
    left: 800px;
}

.asteriodYellow {
    /* animation: asteriodAnimation 4s linear infinite;
    position: absolute;
    opacity: 0.4;
    left: 30%;
    top: 60%;
    z-index: -1;
    width: 50vw; */
    position: relative;
    bottom: 600px;
    left: -350px;
}

.asteriodPurple {
    /* animation: asteriodAnimation 4s linear infinite;
    position: absolute;
    opacity: 0.4;
    left: 10%;
    top: 15%;
    z-index: -1;
    width: 50vw; */
    position: relative;
    top: -600px;
    left: -350px;
    
  
}
